.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  width: 220px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar .nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.sidebar.collapsed .nav-link {
  opacity: 0;
  pointer-events: none;
}

.sidebar .menu-header {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.sidebar.collapsed .menu-header {
  opacity: 0;
}


.custom-sidebar .toggle-btn {
  margin-left: auto;
}

.custom-sidebar {
  width: 220px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.custom-sidebar.collapsed {
  width: 60px;
}

.custom-sidebar .nav-link {
  padding: 10px 12px;
  font-size: 0.95rem;
  white-space: nowrap;
}

.custom-sidebar .nav-link svg {
  font-size: 100.2rem;
}

